.todo {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 9px;
  height: 38px;

  &.overdue {
    background: rgba(255, 0, 0, 0.2);
  }

  &.current {
    background: rgba(196, 196, 196, 0.2);
  }

  &.complete {
    background: rgba(0, 255, 0, 0.2);
  }

  .description {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
  }

  .date {
    padding: 4px 6px 3px 9px;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
}
